$cellHeight: 36px;
$cellWidth: 36px;
$cellGap: 6px;
$gutterWidth: 94px;
$headerHeight: 36px;
$numCells: 9;
$numColors: 3;
$containerWidth: $numCells * ($cellWidth + $cellGap) + $gutterWidth;
$containerHeight: $numColors * ($cellHeight + $cellGap) + $headerHeight;
$color-dark: #333333;
$color-text-light: #999999;
$color-link-hover: #8EB927;
@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
* {
  box-sizing: border-box;
  -webkit-user-select: none;
}
html,
body {
  font-family: 'Brandon Text', sans-serif;
  color: $color-text-light;
  font-size: 16px;
  margin: 0;
  width: $containerWidth;
  max-width: $containerWidth;
  height: $containerHeight;
  overflow: hidden;
  background-color: $color-dark;
}
#container {
  height: 100%;
  width: 100%;
  position: relative;
}
#curtain {
  @include flex-center();
  position: fixed;
  flex-direction: column;
  width: $containerWidth;
  height: $containerHeight - $headerHeight;
  z-index: 2;
  background-color: rgba(0,0,0,0.85);
  transition: all 200ms;
}
#curtain-clipboard-analysis {
  @include flex-center();
  position: fixed;
  flex-direction: column;
  width: $containerWidth;
  height: $containerHeight - $headerHeight;
  z-index: 2;
  background-color: rgba(0,0,0,0.85);
  transition: all 200ms;
}
#key {
  display: flex;
  position: absolute;
  flex-direction: column;
  height: 60px;
  width: 80px;
  right: 0;
  bottom: 0;
}
#key > div {
  @include flex-center();
  height: 100%;
}
#tooltip {
  @include flex-center();
  flex-direction: column;
  position: fixed;
  min-width: 150px;
  height: 45px;
  top: 0;
  left: 0;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 2px;
}
#clipboard {
  position: fixed;
  z-index: -1;
  top: -$containerWidth;
}
#controls {
  background-color: $color-dark;
  height: $headerHeight;
  font-size: 16px;
  text-align: right;

  & > * {
    line-height: $headerHeight;
    display: inline-block;
    margin-right: 15px;
  }
}
#pinned-container {
  input {
    display: none;
  }
  &:not(.checked) {
    .icon {
      visibility: hidden;
    }
  }
}
#pinned-container {
  input {
    display: none;
  }
  &:not(.checked) {
    .icon {
      visibility: hidden;
    }
  }
}
.cell {
  width: $cellHeight;
  height: $cellWidth;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border: 0;
  border-radius: 50%;
  margin: 0 $cellGap $cellGap 0;
}
.row {
  display: flex;
  width: 100%;
}
.gutter.cell {
  width: $gutterWidth;
  text-align: right;
  line-height: $cellHeight;
  border: 0;
  margin-right: 0;
  padding-right: $cellGap*2;
}
.color {
  cursor: pointer;
}
.clickable {
  cursor: pointer;
}
.clickable:hover {
  color: $color-link-hover;
}
.hidden {
  opacity: 0;
  z-index: -1 !important;
}
